# upstart configuration
description "A process to monitor disk usage by the docker and add EBS volumes to it as necessary"
author "angel pizarro"

env MOUNTPOINT=YOUR_MOUNTPOINT

start on filesystem or runlevel [2345]

stop on shutdown

script
    echo $$ >> /var/run/ebs-autoscale.pid
    exec /usr/local/bin/ebs-autoscale  ${MOUNTPOINT} >> /var/log/ebs-autoscale.log 2>&1
end script

pre-start script
    echo "[`date`] Starting Docker EBS autoscaling" >> /var/log/ebs-autoscale.log
end script

pre-stop script
    rm -f /var/run/ebs-autoscale.pid
    echo "[`date`] Stopping Docker EBS autoscaling" >> /var/log/ebs-autoscale.log
end script
