.idea
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml

#********** osx template**********

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


#********** windows template**********

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


#********** emacs template**********

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

#********** repo specific ignores **********

tmp/
site/
artifacts/
*pem
*tar.gz
Makefile
__pycache__
publish
launch.sh
LICENSE-*
src/templates/tests
/aws-genomics-workflows.iml
_ignore
dist/
